/*-footer css start-*/

.footer-part {
    background-color: var(--light-blue);
    width: 100%;
    display: block;
    padding: 20px;
    margin: 0;
    text-align: center;
    color: var(--black);
}